@use 'variables'
@use 'mixins'

.about-consultation
    @include mixins.center
    flex-direction: column
    text-align: center
    background: variables.$bg-color
    color: variables.$text-color

    h2
        padding: 16px 0 20px 0
        margin-bottom: 20px
        font-size: 18px

    video
        width: 70%
        height: auto
        border: 2px solid variables.$text-color-secundary
        border-radius: 8px
        margin-bottom: 20px

.about-service
    

    ul
        margin: 10px 0
        padding: 0 0 20px 70px

        li
            display: flex
            align-items: center
            font-size: 14px
            margin: 5px 0 8px 0
