@use 'variables'
@use 'mixins'

.consultancy
    display: flex
    padding: 16px
    flex-direction: column
    text-align: center
    background: variables.$bg-color-secundary
    color: variables.$text-color

    h2
        @include mixins.caption

        @media (min-width: 768px)
            font-size: 24px

        @media (min-width: 1024px)
            font-size: 30px

    video
        @include mixins.video
        border: 2px solid variables.$text-color-secundary
