@use'variables'
@use'mixins'

.button-action

    background: none
    cursor: pointer
    padding: 5px
    border-radius: 8px
    border: 1px solid variables.$text-color-secundary
    color: variables.$text-color

    :hover
        color: variables.$text-color-secundary

    .menu-icon
        font-size: 24px

        @media (min-width: 1024px)
            font-size: 35px



.menu-list
    background: variables.$bg-color-secundary
    width: 100%
    position: fixed
    top: 56px
    left: 0
    right: 0
    padding: 8px
    list-style: none
    z-index: 20

    @media (min-width: 1024px)
        top: 60px

    li
        padding: 5px
        cursor: pointer
        font-size: 14px

        @media (min-width: 768px)
            padding: 8px
            font-size: 20px

        :hover
            color: variables.$text-color-secundary
            font-size: 22px

        a
            color: variables.$text-color
            text-decoration: none
            padding: 8px

            @media (min-width: 1024px)
                padding: 12px
