@use 'variables'

@mixin center
    display: flex
    align-items: center

@mixin video
    width: 70%
    height: auto
    border-radius: 8px
    margin-bottom: 20px

@mixin caption
    padding: 16px 0 20px 0
    margin-bottom: 20px
    font-size: 18px
    text-align: center
